
.react-tabs__tab--selected{ 
background:#020169;
color:#fff;
font-weight: 600;
}


.react-tabs__tab{
  font-weight: 600;
  font-size:1rem
}

.ceo-head{
  font-size: 1.5rem;
}


.bg-ceocabs{
  background-color: #020169;
  color:#fff;
}

.mw-80{  
  min-width: 80px;
}

.btn.bg-ceocabs:hover{
  color:#fff;
  background:#010049
}

.text-big-1{
  font-size:1.3rem;
  font-weight: 500;
}

.text-ceocabs{
  color: #020169; 
}